body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  background-color: var(--vscode-activityBar-background);
  color: var(--vscode-activityBar-foreground);
  background-attachment: fixed;
  background-size: 100%;
  padding: 10px;
  width: 150px;
}

.sidebar-list-container {
  margin-bottom: 20px;
}

.sidebar-list-header {
  font-weight: bold;
  margin-bottom: 5px;
}

.sidebar-list-value {
  display: block;
  cursor: pointer;
  padding: 5px;
  position: relative;
  white-space: nowrap;
}

.sidebar-list-value-text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-list-value:hover {
  color: var(--vscode-list-hoverForeground);
  background-color: var(--vscode-list-hoverBackground);
}

.sidebar-list-value:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  width: max-content;
  visibility: hidden;
  padding: 3px;
  background-color: #555;
  color: #fff;
  /* text-align: center; */
  padding: 5px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  max-width: 500px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.status-node-value-green {
  color: green;
}
.status-node-value-green::first-letter{
  text-transform: capitalize;
}

.status-node-value-red {
  color: red;
}

.status-node-value-red::first-letter{
    text-transform: capitalize;
}

.focussed {
  color: var(--vscode-list-activeSelectionForeground);
  background-color: var(--vscode-list-activeSelectionBackground);
  outline: 1px solid var(--vscode-list-focusAndSelectionOutline, var(--vscode-contrastActiveBorder, var(--vscode-list-focusOutline)));
}

.focussed:hover {
  color: var(--vscode-list-activeSelectionForeground) !important; 
  background-color: var(--vscode-list-activeSelectionBackground) !important;
  outline: 1px solid var(--vscode-list-focusAndSelectionOutline, var(--vscode-contrastActiveBorder, var(--vscode-list-focusOutline))) !important;
}

.main-section {
  background-color: var(--vscode-editor-background);
  background-size: 100%;
  color: var(--vscode-editor-foreground);
  flex: 1;
  padding: 10px;
  max-height: 100vh;
}
.field {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-basis: calc(33.33% - 20px);
  display: flex;
}
.field-label {
  display: inline;
  font-weight: 600;
  padding-right: 5px;
  flex-basis: 55%;
  line-height: 2;
}


.field-value {
  bottom: 0;
  flex: 1;
  display: inline;
  font-weight: 400;
  line-height: 2;
}
.separator-container {
  display: flex;
  align-items: center;
  margin: 20px 0; 
}

.separator-text {
  padding-right: 10px;
}

.separator {
  flex: 1;
  border: none;
  border-top: 1px solid black;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.no-flex > .field > .field-label{
  flex-basis: 25%;
}


@media screen and (max-width: 1200px) {
  .field {
    flex-basis: calc(50% - 20px);
  }
  .no-flex > .field > .field-label{
    flex-basis: 35%;
  }
}

@media screen and (max-width: 768px) {
  .field {
    flex-basis: 100%;
  }
  .no-flex > .field > .field-label{
    flex-basis: 55%;
  }
}
