
    /* Styles for the dropdown button */
    .query-context-bucket-dropdown {
        position: relative;
        display: inline-block;
    }

    .query-context-bucket-button {
        cursor: pointer;
        background-color: #f1f1f1;
        color: #333;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .query-context-bucket-button:hover {
        background-color: #ddd;
    }

    /* Styles for the bucket and scope dropdown values */
    .query-context-bucket-values {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        z-index: 1;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        top: 0;
        left: 100%;
    }

    .query-context-scope-values {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        z-index: 1;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        top: 0;
        left: 100%;
    }

    /* Styles for individual bucket values */
    .query-context-bucket-value {
        padding: 8px 16px;
        text-decoration: none;
        display: block;
        color: #333;
    }

    .query-context-bucket-value:hover {
        background-color: #ddd;
    }

    /* Show the bucket dropdown content when hovering over the dropdown button
    .query-context-bucket-dropdown:hover .query-context-bucket-values {
        display: block;
    } */

    /* Show the scope dropdown content when hovering over the specific bucket */
    .query-context-bucket-dropdown .query-context-bucket-value:hover + .query-context-scope-dropdown .query-context-scope-values {
        display: block;
    }