.login-page {
  max-width: 400px;
  min-width: 250px;
  margin: 0 auto;
  padding: 10px;

  h1,
  h2 {
    margin-bottom: 15px;
    font-weight: 300; /* Lighter weight for a modern feel */
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      input[type="text"],
      input[type="password"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }

    .checkbox-container {
      label[for="rememberMe"] {
        display: inline-flex;
        flex-direction: row;
        margin-right: 10px;
      }
      input[type="checkbox"] {
        display: inline-flex;
        position: relative;
        top: 3px;
      }
    }

    input[type="submit"] {
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
    }

    input[type="submit"]:hover {
      background-color: #0056b3;
    }
  }

  p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.5;
  }

  .capella-login-area {
    border: 1px solid var(--vscode-settings-sashBorder);
    border-radius: 10px;
    padding: 20px;
  }

  #create-account {
    margin-top: 10px;
    display: block;
    text-align: right;
    cursor: pointer;
    &:hover {
      color: #ea2328;
    }
  }

  button {
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s ease-in-out; /* Smooth transitions */
  }

  .redButton {
    color: white;
    background: #ea2328 !important;
  }
  .redButton:hover {
    background: #bb1117 !important;
  }

  button:not(.redButton) {
    background-color: var(--vscode-button-secondaryBackground);
    color: var(--vscode-button-secondaryForeground);
  }

  button:not(.redButton):hover {
    background-color: var(--vscode-button-secondaryHoverBackground);
  }

  .orArea {
    text-align: center; /* Center the text horizontally */
    margin-top: 25px; /* Increase spacing above */
    margin-bottom: 25px; /* Increase spacing below */
    font-size: 16px; /* Slightly larger font size */
    font-weight: bold; /* Make the text bold */

    .divider {
      display: inline-block;
      width: min(40%,calc(50% - 35px));
      height: 1px;
      background-color: var(
        --vscode-settings-sashBorder
      ); /* Customize color as desired */
      margin: 0 10px; /* Adjust spacing as needed */
      margin-bottom: 5px;
    }
  }
}
